<div>Please fill in your restaurant information below.</div>
<form method="POST" action="/restaurants/new">
  <input type="text" name="name">
  <input type="text" name="location">
  <input type="submit" name="add_restaurant" value="Add Restaurant">
</form>
